html,
body {
  margin: 0;
  padding: 0;
  background: #000;
}

.background {
  width: 960px;
  height: 540px;
  left: 50%;
  position: fixed;
  top: 0;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}


@font-face {
    font-family: 'Pervitina Dex Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Pervitina Dex Regular'), url('Pervitina-Dex-FFP.woff') format('woff');
}

.title {
  font-family: "Pervitina Dex Regular";
  font-weight: normal;
  font-style: normal;
  color: #fff;
  position: fixed;
  font-size: 440px;
  letter-spacing: 40px;
  mix-blend-mode: difference;
  top: 540px;
  margin-top: -245px;
  margin-left: 20px;
  width: 100%;
  text-align: center;
  z-index: 100000;
}


.button-container {
  position: absolute;
  z-index: 100000;
  top: 10px;
  right: 15px;
  width: 50px;
  height: 50px;
    mix-blend-mode: difference;
  color: #fff;
  cursor: pointer;
}

.button-container span {
  position: absolute;
  width: 30px;
  height: 3px;
  background: #fff;
  top: 22px;
  left: 10px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.button-container span:nth-of-type(1) {
  -webkit-transform: translate(0, -5px);
  transform: translate(0, -5px);
}
.button-container span:nth-of-type(2) {
  -webkit-transform: translate(0, 5px);
  transform: translate(0, 5px);
}

.button-container.open  span:nth-of-type(1) {
  -webkit-transform: translate(0, 0) rotate(45deg);
  transform: translate(0, 0) rotate(45deg);
}

.button-container.open  span:nth-of-type(2) {
  -webkit-transform: translate(0, 0) rotate(-45deg);
  transform: translate(0, 0) rotate(-45deg);
}

.menu-wrapper {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
}

.menu {
    position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
  -webkit-transform: translate(0, 100%);
  transform: translate(0, 100%);
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
}

.menu.open {
    -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.nav {
  position: absolute;
  left: 195px;
  top: 270px;
}

.nav ul li {
  font-family: "Pervitina Dex Regular";
  list-style-type: none;
  font-size: 87px;
  display: inline-block;
  margin-left: 40px;
  margin-right: 30px;
  text-decoration: underline;
}


.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-family: "Pervitina Dex Regular";
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 15px;
  color: #000;
  z-index: 10000;
  color: #F0F8FF;
  font-weight: normal;
  font-style: normal;
  position: fixed;
  font-size: 240px;
  letter-spacing: 40px;
  mix-blend-mode: difference;
  top: 540px;
  margin-left: 20px;
  width: 100%;
  text-align: center;
  z-index: 100000;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 4px #F0F8FF, 0 0 7px #F0F8FF, 0 0 8px #F0F8FF, 0 0 10px #F0F8FF, 0 0 15px #F0F8FF;
  white-space: nowrap;
}



@media(max-width: 1100px) {
  .text {
    font-size: 70px;
    letter-spacing: 20px;
    margin: 0;
    top: 70%;
  }
  .nav {
    top: 150px;
    left: 0px;
  }

  .nav ul li {
    font-family: "Pervitina Dex Regular";
    list-style-type: none;
    font-size: 50px;
    display: block;
    text-decoration: underline;
  }

}
