* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
}

body {
  overflow: hidden;
  display: flex;
  perspective: 1000px;
  transform-style: preserve-3d;
}

#box {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  width: 130px;
  height: 200px;
  margin-left: -65px;
  margin-top: -100px;
  transform-style: preserve-3d;
  transform: rotateX(-10deg);
}

#box {
  opacity: 0;
}

.collection {
  transform-style: preserve-3d;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px #fff;
  -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0005);
  cursor: pointer;
}

.collection:hover {
  box-shadow: 0 0 15px #fff;
  -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0007);
}

#box > p {
  margin: auto;
  /*
  -webkit-transform: translateY(100px) rotateX(90deg);
  transform: translateY(100px) rotateX(90deg);
  */
  position: absolute;
  bottom: 80px;

  transform-origin: center;
  color: #F0F8FF;
  font-family: "Fira Mono";
  font-size: 30px;
  white-space: nowrap;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #F0F8FF, 0 0 70px #F0F8FF, 0 0 80px #F0F8FF, 0 0 100px #F0F8FF, 0 0 150px #F0F8FF;
}

.a {
  -webkit-transform: translateX(-50px);
  transform: translateX(-50px);
}

.b {
  -webkit-transform: translateX(-50px);
  transform: translateX(-50px) rotateY(90deg);
}

.collection {
  background-size: cover;
  background-position: center center;

}

.one {
  background-image: url("https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=662&q=80");
}

.two {
  background-image: url("https://images.unsplash.com/photo-1519758340474-40fa8cba6584?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
}

.three {
  background-image: url("https://images.unsplash.com/photo-1508216310976-c518daae0cdc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=647&q=80");
}

.four {
  background-image: url("https://images.unsplash.com/photo-1535730142260-496e3db19f6f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=332&q=80");
}

.collection-title {
  text-transform: uppercase;
  color: #F0F8FF;
  width: 100%;
  text-align: center;
  position: absolute;
  top: -25px;
  font-family: "Fira Mono";
  font-size: 16px;
  white-space: nowrap;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #F0F8FF, 0 0 70px #F0F8FF, 0 0 80px #F0F8FF, 0 0 100px #F0F8FF, 0 0 150px #F0F8FF;
}
