* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: #000;
}

body {
  overflow: hidden;
  display: flex;
  perspective: 1000px;
  transform-style: preserve-3d;
}

#box {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  width: 200px;
  height: 300px;
  margin-left: -100px;
  margin-top: -150px;
  transform-style: preserve-3d;
  transform: rotateX(-10deg);
}

#box {
  opacity: 0;
}

.collection {
  transform-style: preserve-3d;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px #fff;
  -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0005);
  cursor: pointer;
}

.collection:hover {
  box-shadow: 0 0 15px #fff;
  -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0007);
}

#box > p {
  margin: auto;
  /*
  -webkit-transform: translateY(100px) rotateX(90deg);
  transform: translateY(100px) rotateX(90deg);
  */
  position: absolute;
  bottom: 130px;

  transform-origin: center;
  color: #F0F8FF;
  font-family: "Druk Wide Web";
  font-size: 25px;
  white-space: nowrap;
  /*text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #F0F8FF, 0 0 70px #F0F8FF, 0 0 80px #F0F8FF, 0 0 100px #F0F8FF, 0 0 150px #F0F8FF;*/
  text-shadow: 0 0 10px #999, 0 0 20px #999, 0 0 30px #999, 0 0 40px #999, 0 0 70px #999, 0 0 80px #999, 0 0 100px #999, 0 0 150px #999;
}

.a {
  -webkit-transform: translateX(-50px);
  transform: translateX(-70px);
}

.b {
  -webkit-transform: translateX(-50px);
  transform: translateX(-70px) rotateY(90deg);
}

.collection {
  background-size: cover;
  background-position: center center;

}

.collection-1 {
  background-image: url("../img/one.jpg");
}

.collection-2 {
  background-image: url("../img/two.jpg");
}

.collection-3 {
  background-image: url("../img/three.jpg");
}

.collection-4 {
  background-image: url("../img/four.jpg");
}

.collection-title {
  text-transform: uppercase;
  color: #F0F8FF;
  width: 100%;
  text-align: center;
  position: absolute;
  top: -25px;
  font-family:  "Druk Wide Web";
  font-size: 16px;
  white-space: nowrap;
  text-shadow: 0 0 10px #999, 0 0 20px #999, 0 0 30px #999, 0 0 40px #999, 0 0 70px #999, 0 0 80px #999, 0 0 100px #999, 0 0 150px #999;
}
